# Python & Virtual Environments

__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Jupyter Notebooks

.ipynb_checkpoints/

# IDE & System

.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables

.env
config/config.py

# Data (structured management)

data/raw/
data/interim/

# Ignore large data files only inside data/

data/**/*.csv
data/**/*.xlsx
data/**/*.json
data/**/*.html

# Allow processed & optimized data

!data/processed/
!data/processed/*.parquet

# Streamlit

.streamlit/config.toml
.streamlit/secrets.toml

# Distribution & Cache

build/
dist/
*.egg-info/
.cache/

# Logs & temp files

*.log
tmp/
temp/
